page-login {

}

.getstart{
    background-image: url('../assets/background/2.jpg');
    background-repeat: no-repeat;
         background-size: cover;
  }

.logo{
    height: 35%;
    width: 80%;
    display: block;
    margin: auto;
}

.label{
    background-color: transparent;
    margin-top: 5% !important;
    color: #fff !important;
    border-style: none !important;
    border-width: 0 0 0 0 !important;
    border-color: #0E8CCD !important;
}

.pos{
    padding-top: 10%;
}

.size{
    width: 70%;
    margin-left: 15%;
}