page-activity {

}

.but1{
    width: 100%;
    font-size: 150%;
    color: black;
    background-color: white;
    margin-top: 5%;
}
.but2{
    width: 60%;
    margin-left: 20%;
    background: transparent;
    border: 2px solid white; /* Green */
}