page-register {

}

.title{
    font-size: 200%;
    padding-left: 30%;
    color: white;
}

.label3{
    background-color: transparent;
    // margin-top: 5% !important;
    color: #fff !important;
    border-style: none !important;
    border-width: 0 0 0 0 !important;
    border-color: #0E8CCD !important;
}