page-main {

}

.getstart{
    background-image: url('../assets/background/2.jpg');
    background-repeat: no-repeat;
         background-size: cover;
  }
.prof1{
    margin-left: 40%;
    width: 25%;
}
.pos1{
margin-left: 40%;
}

.one1 {
    float:left;
    width: 25%;
    margin-left: 20%;
    margin-bottom: 10%;
    margin-right: 5%;
  }

.two1 {
    float:right; 
    width: 25%;
    margin-right: 20%;
    margin-bottom: 10%;
  }
